@media(min-width:1130px) {

    /* 드롭 메뉴 */
    .gnb:hover .sub {
        height: 205px;
    }

    /* 탭호버 색 */
    .sec2 .inner>p:nth-of-type(1).on,
    .sec2 .inner>p:nth-of-type(1):hover {
        background-color: #ffc1c1;
    }

    .sec2 .inner>p:nth-of-type(2).on,
    .sec2 .inner>p:nth-of-type(2):hover {
        background-color: #FFE2E2;
    }

    .sec2 .inner>p:nth-of-type(3).on,
    .sec2 .inner>p:nth-of-type(3):hover {
        background-color: #FAE5FF;
    }

    .sec2 .inner>p:nth-of-type(4).on,
    .sec2 .inner>p:nth-of-type(4):hover {
        background-color: #EEF0FF;
    }

    .sec2 .inner>p:nth-of-type(5).on,
    .sec2 .inner>p:nth-of-type(5):hover {
        background-color: #E4FAFF;
    }

    /* 카테고리 */
    .sec3 .icon img:nth-of-type(2) {
        opacity: 0;
        transition: .3s;
    }

    .sec3 ul li:hover .icon img:nth-of-type(2) {
        opacity: 1;
    }

}